@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<p>This is a demo app for Outlook Connector Integration</p>
<address>
    <strong>Got Questions:</strong>   <a href="https://twitter.com/mostafaelzoghbi" target="_blank">Connect with me on Twitter!</a><br />
  </address>