@{
    ViewBag.Title = "How to install outlook connector into outlook groups";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<article>
    This page illustrates how to install Office 365 outlook connector to one of your groups in outlook.
    If you don't have a group in your outlook, here is how to 
    <a href="https://support.office.com/en-us/article/Create-a-group-in-Outlook-04d0c9cf-6864-423c-a380-4fa858f27102?ui=en-US&rs=en-US&ad=US" target="_blank">create a group</a>
    Once a group has been created, Kindly follow these steps:
</article>
<ul>
    <li>Select a group from all available groups</li>
    <li>Click on allow buton</li>
    <li>Outlook connector will start sending messages to oyur outlook!</li>
    <li>Enjoy!</li>
</ul>

<!-- This is the generated link for outlook connector-->
<a href="@ViewData["url"]"><img src="https://o365connectors.blob.core.windows.net/images/ConnectToO365Button.png" alt="Connect to Office 365"></img></a>

