@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Office 365 Outlook Connectors</h1>
    <p class="lead">Office 365 Connectors provide a compelling extensibility solution for developers. Developers can build connectors through incoming webhooks to generate rich connector cards. Additionally, with the new "Connect to Office 365" button, developers can embed the button on their site and enable users to connect to Office 365 groups.
</p>
    <p><a href="https://dev.outlook.com/Connectors" target="_blank" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Office 365 Connectors provide a compelling extensibility solution for developers. Developers can build connectors through incoming webhooks to generate rich connector cards. Additionally, with the new "Connect to Office 365" button, developers can embed the button on their site and enable users to connect to Office 365 groups.
        </p>
        <p><a class="btn btn-default" target="_blank" href="https://github.com/OfficeDev/Office-365-Connectors">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Create your first connector</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" target="_blank" href="http://go.microsoft.com/fwlink/?LinkID=780623">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Developer Sandbox</h2>
        <p>'Connect to Office 365' is an easy way for developers to integrate their product with Office 365 Groups. The Connect button lets you empower and engage your customers by sending connector cards to them. Once you add a Connect button to your application, your users are able to use it to authorize their Office 365 Groups to receive your connector cards. The Connect button helps your app obtain a WebHook to the Group authorized by your users. You can send rich connector cards to the Group using the WebHook URL to share important updates, send reminders for pending actions, send weekly reports and so on. You can build immersive experiences with connector cards. </p>
        <p><a class="btn btn-default" target="_blank" href="https://connectplayground.azurewebsites.net/">Learn more &raquo;</a></p>
    </div>
</div>