<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="webhookUrl" value="https://outlook.office365.com/webhook/6e13cda1-c3cb-417f-b3d9-6f4b244b4400@8434a8c8-13e6-4852-a52a-8f5010177e35/62e489e3-df21-48f5-8d24-a7388ef2ae3b/e199d68bb6ad46618fad9bc52b366095/0c8de92e-09d3-4196-8c81-f3e37284beaf"/>
  </appSettings>
</configuration>