<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!-- Make sure to set your webhook url after you create an outlook connector -->
    <add key="webhookUrl" value=""/>
  </appSettings>
</configuration>
